<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/tr/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>

<head>
    <title>RSyntaxTree - drawing syntax trees with Ruby</title>
    <%= stylesheet_link_tag '/stylesheets/rsyntaxtree' %>  
    <%= javascript_include_tag '/javascripts/prototype' %>
    <%= javascript_include_tag '/javascripts/effects' %>
    <%= javascript_include_tag '/javascripts/application' %>
    <%= javascript_include_tag '/javascripts/controls' %>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="author" content="Yoichiro Hasebe" />
    <meta name="description" content="" />
    <meta name="keywords" content="syntax tree, linguists, homework, labelled bracket notation" />
</head>
