%html
  %head
    %meta{:charset => "utf-8"}
    %title RSyntaxTree
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}    
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}

    %link{ :href => $SUB_DIRECTORY + "/bootstrap/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }

    :plain
      <style type="text/css">
        body {
          padding-top: 70px;
          padding-bottom: 40px;
        }
      </style>

    %link{ :href => $SUB_DIRECTORY + "/bootstrap/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => $SUB_DIRECTORY + "/css/rsyntaxtree.css", :type => "text/css", :rel => "stylesheet" }

    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->    

    / Le fav and touch icons 
    %link{ rel: "apple-touch-icon", href: "/bootstrap/images/apple-touch-icon.png"}
    %link{ rel: "shortcut icon", href: "/bootstrap/images/favicon.ico"}
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/bootstrap/images/apple-touch-icon-72x72.png"}
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/bootstrap/images/apple-touch-icon-114x114.png"}

  %body    
    %div#top{:data => {:subdir => $SUB_DIRECTORY}}
    %div= haml :navbar
    %div= yield

    / Placed at the end of the document so the pages load faster
    %script{ :type => "text/javascript", :src => $SUB_DIRECTORY + "/bootstrap/js/jquery.js"}
    %script{ :type => "text/javascript", :src => $SUB_DIRECTORY + "/bootstrap/js/bootstrap.js"}
    %script{ :type => "text/javascript", :src => $SUB_DIRECTORY + "/js/rsyntaxtree.js"}
